body {
    background-color: #34303B;
    width: 800px;
    margin-left: 13px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-shadow:
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            2px 2px 0 #000;
}

h1 {
    font-size: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    text-shadow:
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            2px 2px 0 #000;
}

#container > #options > h3 > span:not(.option-name) {
    cursor: pointer;
}

.in-game:before {
    content: 'Current ';
}

.after-game:before {
    content: 'Final ';
}

#try-again {
    display: none;
}

#myCanvas {
    background-color: white;
}

.selected {
    color: black;
    text-shadow:
            -1px -1px 0 #FFF,
            1px -1px 0 #FFF,
            -1px 1px 0 #FFF,
            1px 1px 0 #FFF;
    font-weight: 700;
    font-size:1.3em;
}

.option-name {
    font-size: 1.3em;
}

#option-pop:hover {
    cursor: pointer;
}